.poster-img {
    width: 375px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
    align-items: center;
    justify-content: space-around;
}

.poster-img img {
    width: 129px;
    height: 193px;
    margin: 10px;
}